<% if(warning) { %>
  <div class="alert alert-<%= alertType %> alert-width alert-dismissible fade show div-alert p-1 mt-3" role="alert">
    <%= warning %>
    <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close" id="btn-sub"></button>
  </div>
<% } %>