<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- O hífen utilizado no operador abaixo indica que parcial do ejs está sendo incorporado -->
        <!-- Incluindo o head -->
        <%- include('../partials/head') %>
        <title>Cadastrar novo usuário</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/signup.css">
    </head>

    <body>
      <div class="container d-flex flex-column align-items-center">
        <%- include('../partials/alertByForm') ;%>

        <main class="form-signin text-center">
            <form action="" method="POST">
            <img class="mb-4" src="/icons/signupIcon.png" alt="Icone de perfil login">
              <h1 class="h3 mb-3 fw-normal">Crie a sua conta</h1>

              <div class="form-floating">
                <input type="text" class="form-control input-name" name="userName" id="floatingName" autofocus placeholder="Nome">
                <label for="floatingName">Nome</label>
              </div>

              <div class="form-floating">
                <input type="email" class="form-control input-email" name="email" id="floatingEmail" placeholder="name@example.com">
                <label for="floatingEmail">Endereço de email</label>
              </div>

              <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
              
              <div class="mt-3">
                <a href="/login" class="link-primary">Voltar para o login</a>
              </div>
    
              <p class="mt-4 mb-3 text-muted">&copy; 2021–2022</br>Desenvolvido por Kleyverson Nunes</p>
            </form>
        </main>
      </div>
    </body>
    <script src="/js/alerts.js"></script>
</html>